@CHARSET "UTF-8";
.fila-1 , .fila-2, .fila-3{
	width: 90%;
	height: 400px;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 25px;
	margin-bottom: 25px;
}

.colum-1 , .colum-2, .colum-3{
	float: left;
	width: 27.33%;
	height: 100%;
	margin-left: 3%;
	margin-right: 3%;
	background-color: #ffffff;
}

.img-concierto{
	width: 94%;
	height: 200px;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.img-grupos{
	width: 100%;
	height: 100%;
}

.contenido{
	width: 90%;
	height: 150px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 10px;
	text-align: center;
}

.contenido p {
	font-size: 13px;
	margin-bottom: 3px;
	margin-top: 2px;
}


.presentaciones{
	color: red;
}

aside img {
	width: 100%;
	height: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
}