@CHARSET "UTF-8";

    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
        
      .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      height: 100%;
  }

  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }