@CHARSET "UTF-8";
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
        
      .carousel-inner img {
      width: 90%; /* Set width to 100% */
      margin-left:5%;
      margin-right:5%;
      margin-top:20px;
      min-height:200px;
  }

  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }